*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
  color: #333;
}

.wrapper{
  width: 100%;
}

/* menu base styles */

nav{
  
  background: #333;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 20px;
}

nav a:hover{
  background-color: #555;
}

/* grid vs flex base styles */
article{
    background: #fff;
    padding: 6px;
    margin-bottom: 30px;
}
article h2{
    padding: 10px;
    text-align: center;
}


/* flex styles */

@media screen and (min-width: 768px){

nav ul{
  display: flex;
}

nav li{
  flex: 1;
  justify-content: space-around;
}
  
ul.social{
  margin: 0;
}
#blocks{
    display: flex;
    max-width: 1000px;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
article{
    flex: 0 1 32%;
    box-sizing: border-box;
}
    
} /* end media 768 */