*{
    margin: 0%;
    padding: 0%;
}
#head{
    margin-left: 100px;
    color: #ff4500; 
    margin-top: 20px;   
}
ul li{
    justify-content: center;
    list-style: none;
    display: flex;
    font-size: 20px;
    margin-top: -25px;

}
ul{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.icons{
    align-items: right;
    float: right;
    
}
tr th{
    background-color: brown;
    border: 2px solid black;
    color: turquoise;
    font-size: 30px;
    text-align: center;
}
 td{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-top: 50px;
 }
 tr:nth-child(even){
    background-color: rgb(67, 185, 218);
    }
    tr :hover{
        background-color: rgb(218, 20, 20);
    }
    button{
        border-radius: 10px;
        background-color: rgb(30, 20, 218);
        color: white;
        font-size: 15px;
        padding: 10px 10px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }
    .loving{
        font-size: 25px;
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }
    .contact{
        width: 33%;
        text-align: center;
        padding: 10px 0;
    }
    
    
    