*{
    margin: 0;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
}

nav ul{
    list-style: none;
    background-color: gray;
    display: block;
    text-align: center;
}

nav ul a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
}
ul a:hover{
    background-color: #aea4a4;
}

@media screen and (min-width: 760px){
    nav ul{
        display: flex;
        /* justify-content: flex-end; */
    }
    nav li{
        flex: 1;
    }
}